[workspace]
resolver = "2"
members = [
  "zebra-rs",
  "vtyctl",
  "vtyhelper",
  "crates/bgp-packet",
  "crates/bgp-macros",
  "crates/isis-packet",
  "crates/isis-macros",
  "crates/ospf-packet",
]

[workspace.package]
version = "0.8.5"
edition = "2024"
authors = ["Kunihiro Ishiguro <kunihiro@zebra.dev>"]
license = "GPL-3.0"

[workspace.dependencies]
anyhow = "1.0"
prost = "0.13"
tokio = { version = "1", features = ["full"] }
tokio-stream = "0.1"
tonic = "0.13"
tonic-build = "0.13"
clap = { version = "4", features = ["derive"] }
