[Unit]
Description=zebra
After=network.target

[Service]
Type=simple
User=root
Group=root
StandardOutput=journal
StandardError=journal
ExecStart=/usr/bin/zebra-rs
ExecStop=/bin/kill -INT ${MAINPID}
Restart=always

[Install]
WantedBy=multi-user.target
