[Unit]
Description=zebra
After=network.target

[Service]
Type=simple
User=root
Group=root
StandardOutput=syslog
StandardError=syslog
ExecStart=/usr/bin/zebra-rs
ExecStop=/bin/kill -INT ${MAINPID}
Restart=always
LimitNOFILE=32768
LimitNOFILESoft=32768

[Install]
WantedBy=multi-user.target
